html {
  font-family: monospace;
  text-align: center;
}

body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.today-date {
  font-size: 500%;
  padding-top: 10%;
}

.quote {
  font-size: 200%;
  padding-left: 20%;
  padding-right: 20%;
}
